%h1 User
%p
  %strong email:
  = @user.email
%p
  %strong sign_in_count:
  = @user.sign_in_count

%p
  %strong last_sign_in_at:
  = @user.last_sign_in_at
%p
  %strong last_sign_in_ip:
  = @user.last_sign_in_ip
%p
  %strong role:
  = @user.role
%p
  %strong active?:
  = @user.active

- unless @user.invitation_sent_at.nil?
  %p
    %strong invitation created at:
    = @user.invitation_created_at
  %p
    %strong invitation sent at:
    = @user.invitation_sent_at
  %p
    %strong invitation accepted at:
    = @user.invitation_accepted_at
    
-if @user.has_role? :user
  %p
    %h3 Permisos
    %table
      %tr
        %th Recurso
        %th Acceso
        -@user.policies.each do |policy|
          %tr
            %td= policy.resource.name
            %td= policy.access

= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', users_path
