<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= flash[:recaptcha_error] %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= devise_error_messages! %>


  <h4>Person</h4>

  <%= fields_for @person do |a| %>
    <div class="field">
      <%= a.label :first_name %><br />
      <%= a.text_field :first_name, autofocus: true %>
    </div>
    <div class="field">
      <%= a.label :last_name %><br />
      <%= a.text_field :last_name %>
    </div>
    <div class="field">
      <%= a.label :dni %><br />
      <%= a.text_field :dni %>
    </div>
  <%end%>

  <h4>User</h4>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%-if AuthM::Engine.new_registration_captcha == true%>
    <br>
    <%= recaptcha_tags %>
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
    <%#= invisible_recaptcha_tags text: 'Sign up' if AuthM::Engine.new_registration_captcha == true%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
