<%= form_with model: @user, local: true do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :username %>
    <br/>
    <%= form.text_field :username, required: true %>
  </p>

  <p>
    <%= form.label :email %>
    <br/>
    <%= form.email_field :email, required: true %>
  </p>

  <% unless @user.persisted? %>
    <p><%= form.check_box "invitable", id: "check_invitable", checked: true %> invite</p>
     <div id = 'pass_fields', style = 'display:none;'>
      <p>
        <%= form.label :password %>
        <%= form.password_field :password, id: "pass" %>
      </p>
      <p>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, id: "pass_confirmation" %>
      </p>
     </div> 
  <% end %>
  
  <p>
    <h3>Active?</h3>
    <table>
      <tr>
        <%= form.radio_button :active, 1, checked: @user.active %>
        activo
        <%= form.radio_button :active, 0, checked: !@user.active %>
        inactivo
      </tr>
    </table>
  </p>

  <p>
    <h3>Policies Group</h3>
    <p><%= select_tag :policy_group_selector, options_for_select(@option_for_select, @selected), include_blank: true, id: 'policy_group_select'%></p>

    <div id='div_policies'>
      <%= render template: 'auth_m/policy_groups/policies/index', locals: {policy_group: @policy_group} %>
    </div>
  </p>

  <p><%= form.submit %></p>

<% end %>