<p>
  <h3>Role</h3>
  <table>
    <tr>
      <% AuthM::User.roles.each do |role| %>
        <%= form.radio_button :roles_mask, (AuthM::User.mask_for role) %>
        <%= role %>
      <% end %>
    </tr>
  </table>
</p>
<% if @user.has_role? :user %>
  <p>
    <h3>Policies</h3>
    <table>
      <tr>
        <th>Resources</th>
        <th>Access</th>
      </tr>
      <% current_management.resources.each do |resource| %>
        <%= form.fields_for :policies do |form_2| %>
          <tr>
            <td>
              <%= resource.name %>
            </td>
            <td>
              <% AuthM::Policy::USER_ACCESS.each do |access| %>
                <% policy = @user.has_the_policy? resource.id if edit == true %>
                <% if resource.default && edit == false %>
                  <%= form_2.radio_button :"#{resource.id}", access, checked: (access == resource.access)  %>                
                <% elsif !policy.nil? %>
                  <%= form_2.radio_button :"#{resource.id}", access, checked: (access == policy.access)  %>
                <% else  %>
                  <%= form_2.radio_button :"#{resource.id}", access, checked: (access == "none") %>
                <% end %>
                <%= access %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </p>
<% end %>