<% if !(@user.has_role? :public) || !(@user.persisted?) %>
  <p>
    <h3>Role</h3>
    <table>
      <tr>
        <% AuthM::User.roles.each do |role| %>
          <%= form.radio_button :roles_mask, (AuthM::User.mask_for role), (@user.persisted? ? {} : {:checked => ((AuthM::User.mask_for role) == 2)} ) %>
          <%= role %>
        <% end %>
      </tr>
    </table>
  </p>
<%end%>

<% if (@user.has_role? :user) || !(@user.persisted?) %>
  <p>
    <h3>Policies</h3>
    <table>
      <tr>
        <th>Resources</th>
        <th>Access</th>
      </tr>
      <% current_management.resources.each do |resource| %>
        <%= form.fields_for :policies, @user.policies.build do |pol_field| %>
          <tr>
            <td>
              <%= resource.name %>
            </td>
            <td>
              <%=pol_field.hidden_field(:resource_id, :value => resource.id)%>
              <% policy = @user.has_the_policy? resource.id %>
              
              <% AuthM::Policy::USER_ACCESS.each do |access| %>
                <% unless policy.nil? %>
                  <%= pol_field.hidden_field(:id, :value => policy.id)%>
                  <%= pol_field.radio_button :access, access, checked: (access == policy.access) %>
                <% else %>
                  <%= pol_field.radio_button :access, access, checked: (access == "none") %>
                <% end %>
                <%= access %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </p>
<% end %>