<p>
  <h3>Policies</h3>
  <table>
    <tr>
      <th>Resources</th>
      <th>Access</th>
    </tr>
    <%= form.fields_for :policy_group, @policy_group do |pol_field2| %>
      <% current_management.resources.each do |resource| %>
        <%= pol_field2.fields_for :policies, @policy_group.policies.new do |pol_field| %>
          <tr>
            <td>
              <%= resource.name %>
            </td>
            <td>
              <%=pol_field.hidden_field(:resource_id, :value => resource.id)%>
              <% policy = @user.policy_group.has_the_policy? resource.id %>

              <% AuthM::Policy::USER_ACCESS.each do |access| %>
                <% unless policy.nil? %>
                  <%= pol_field.hidden_field(:id, :value => policy.id)%>
                  <%= pol_field.radio_button :access, access, checked: (access == policy.access) %>
                <% else %>
                  <%= pol_field.radio_button :access, access, checked: (access == "none") %>
                <% end %>
                <%= access %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</p>
