<h1>Edit user</h1>
<%= form_with model: @user, :url => user_path(@user), method: :PUT,  local: true do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :email %>
    <br/>
    <%= form.email_field :email %>
  </p>
  <p>
    <%= link_to "send email for reset password", generate_new_password_email_user_path, method: :post %>
  </p>
  <p>
    <h3>Active?</h3>
    <table>
      <tr>
        <%= form.radio_button :active, 1, checked: @user.active %>
        activo
        <%= form.radio_button :active, 0, checked: !@user.active %>
        inactivo
      </tr>
    </table>
  </p>
  <% if @user.has_role? :user %>
    <p>
      <h3>Policies Group</h3>
      <% if @policy_group.customized? %>
        <%= select_tag "policy_group_selector", options_for_select([["Customize", "Customize"]] + current_management.policy_groups.allocable.collect{ |m| [m.name, m.id]}, "Customize"), include_blank: true, id: 'policy_groups'%>
      <% else %>
        <%= select_tag "policy_group_selector", options_for_select([["Customize", "Customize"]] + current_management.policy_groups.allocable.collect{ |m| [m.name, m.id]}, @policy_group.id), include_blank: true, id: 'policy_groups'%>
      <% end %>
    </p>
    <div id="policies">
      <%= render(partial: 'auth_m/policy_groups/policies') unless @policy_group.customized?%>
      <div id="customized_policies" style="<%= "display: none;" unless @policy_group.customized? %>"><%=render partial: 'policies', locals: {form: form}%></div>
    </div>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', user_path(@user) %>
