%h1 Listing users
%table
  %tr
    %th email
    %th sign_in_count
    %th last_sign_in_at
    %th last_sign_in_ip
    %th role
    %th active?
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.sign_in_count
      %td= user.last_sign_in_at
      %td= user.last_sign_in_ip
      %td= user.role
      %td= user.active
      %td= link_to 'Show', person_path(user.person) unless user.person.nil?