%h1 User
%p
  %strong email:
  = @user.email
-if can? :read, AuthM::User
  %p
    %strong sign_in_count:
    = @user.sign_in_count
  %p
    %strong last_sign_in_at:
    = @user.last_sign_in_at
  %p
    %strong last_sign_in_ip:
    = @user.last_sign_in_ip
  %p
    %strong role:
    = @user.role
  %p
    %strong active?:
    = @user.active
  %p
    %strong confirmed email?:
    = !@user.confirmed_at.nil?
    = " - #{@user.confirmed_at}" if !@user.confirmed_at.nil? 

  - unless @user.invitation_sent_at.nil?
    %p
      %strong invitation created at:
      = @user.invitation_created_at
    %p
      %strong invitation sent at:
      = @user.invitation_sent_at
    %p
      %strong invitation accepted at:
      = @user.invitation_accepted_at
      
  -if @user.has_role? :user
    %p
      %h3 Permisos
      %table
        %tr
          %th Recurso
          %th Acceso
          -@user.policies.each do |policy|
            %tr
              %td= policy.resource.name
              %td= policy.access

-if can? :manage, AuthM::User
  = link_to 'Sign in', impersonate_person_user_path(person_id: @person.id, id: @user.id), method: :post
  = link_to 'Edit user', edit_person_user_path(person_id: @person.id, id: @user.id)
  = link_to 'Destroy user', person_user_path(person_id: @person.id, id: @user.id), method: :delete, data: { confirm: 'Are you sure?' } 

