<h1>User</h1>

<p>
  <strong>username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>registration_created_at:</strong>
  <%= @user.created_at%>
</p>  
<p>
  <strong>sign_in_count:</strong>
  <%= @user.sign_in_count %>
</p>
<p>
  <strong>last_sign_in_at:</strong>
  <%= @user.last_sign_in_at %>
</p>
<p>
  <strong>last_sign_in_ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>
<p>
  <strong>role:</strong>
  <%= @user.role %>
</p>
<p>
  <strong>active?:</strong>
  <%= @user.active %>
</p>
<p>
  <strong>confirmed email?:</strong>
  <%= @user.confirmed_at %>
</p>
<p>
  <strong>invitation created at:</strong>
  <%= @user.invitation_created_at %>
</p>
<p>
  <strong>invitation sent at:</strong>
  <%= @user.invitation_sent_at %>
</p>
<p>
  <strong>invitation accepted at:</strong>
  <%= @user.invitation_accepted_at %>
</p>

<% if @policy_group %>
  <p>      
    <h3>Policy Group</h3>
    <%= @policy_group.name %>
  </p>
  <p>
    <h3>Policies</h3>
    <table>
      <tr>
        <th>Resources</th>
        <th>Access</th>
        <% @policy_group.policies.each do |policy| %>
          <tr>
            <td><%= policy.branch_resource.name %></td>
            <td><%= policy.access %></td>
          </tr>
        <% end %>
      </tr>
    </table>
  </p>
<% end %>

<%= link_to 'Resend invitation', resend_invitation_user_path(@user), method: :put if (can? :impersonate, @user) && !@user.confirmed_at %>
<%= link_to 'Sign in', impersonate_user_path(@user), method: :post if can? :impersonate, @user %>
<%= link_to 'Edit', edit_user_path(@user) if can? :write, @user %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } if can? :write, @user %>

<br>
<%= link_to 'Back', users_path %>
