<h1>Listing users</h1>
<table>
  <tr>
    <th>last name</th>
    <th>first name</th>
    <th>dni</th>
    <th>user</th>
    <th>role</th>
    <th>active?</th>
  </tr>
  <% @people.each do |person| %>
    <tr>
      <td>
        <%= person.last_name %>
      </td>
      <td>
        <%= person.first_name %>
      </td>
      <td>
        <%= person.dni %>
      </td>
      <td>
        <%= link_to person.user.email, person_path(person) if person.user %>
      </td>      
      <td>
        <%= person.user.role if person.user %>
      </td>      
      <td>
        <%= person.user.active if person.user %>
      </td>
      <% if can? :read, AuthM::Person %>
        <td>
          <%= link_to 'Show', person_path(person) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<% if can? :write, AuthM::Person %>
  <%= link_to 'New user', new_person_path %>
<% end %>
