<h1>Person</h1>
<p>
  <strong>last_name:</strong>
  <%= @person.last_name %>
</p>
<p>
  <strong>first_name:</strong>
  <%= @person.first_name %>
</p>
<p>
  <strong>dni:</strong>
  <%= @person.dni %>
</p>
<% if can? :write, AuthM::Person %>
  <%= link_to 'Edit', edit_person_path(@person) %>
  <%= link_to 'Destroy', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if @person.user.nil? %>
  <br>
  <br>
  <% if can? :write, AuthM::User %>
    <%= link_to 'Create user', new_person_user_path(@person) %>
  <% end %>
<% else %>
  <%= render partial: "auth_m/users/user", locals: {:@user => @person.user} %>
<% end %>

<br>
<br>

<%= link_to 'Back', (@person.management ? people_path : public_users_path) %>
