<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= flash[:recaptcha_error]  %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <%-if AuthM::Engine.new_session_captcha == true%>
    <br>
    <%= recaptcha_tags %> 
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
    <%#= invisible_recaptcha_tags text: 'Log in' if AuthM::Engine.new_session_captcha == true%>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>
