<% if @management.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@management.errors.count, "error") %>
      prohibited
      this management from being saved:
    </h2>
    <ul>
      <% @management.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= form.label :name %>
  <br/>
  <%= form.text_field :name %>
</p>
<p>
  <h3>Resources</h3>
  <%= fields_for "resources", [] do |a|%>
    <%-AuthM::Resource.list.each do |res| %>
      <%= a.fields_for "#{res.first}" do |b|%>
        <%= b.label res.first %>
        <% resource = @management.resource res.first  %>
        <%- if resource %>
          <%= b.check_box :select, {checked: true}%>
        <%else%>
          <%= b.check_box :select%>
        <%end%>

        <ul>
          <li>
            <%= b.label :default %>
            <%- if resource && resource.default %>
              <%= b.check_box :default, {checked: true}%>
            <%else%>
              <%= b.check_box :default%>
            <%end%>
          </li>
          <li>
            <%- if resource && resource.default %>
              <%=b.select :access, AuthM::Resource::DEFAULT_ACCESS, {selected: resource.access}%>
            <%else%>
              <%=b.select :access, AuthM::Resource::DEFAULT_ACCESS%>
            <%end%>
          </li>
        </ul>
      <% end %>
    <% end %>
  <%end%>   
</p>