<% if @management.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@management.errors.count, "error") %>
      prohibited
      this management from being saved:
    </h2>
    <ul>
      <% @management.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= form.label :name %>
  <br/>
  <%= form.text_field :name %>
</p>
<p>
  <h3>Resources</h3>
  <table>
    <%= form.collection_check_boxes :resources, AuthM::Resource.list, :first, :last do |b| %>
      <div class="collection-check-box">
        <% if @management.has_the_resource_name? b.object.first %>
          <%= b.check_box({checked: true}) %>
        <% else %>
          <%= b.check_box %>
        <% end %>
        <%= b.label %>
      </div>
    <% end %>
  </table>
</p>