- if @management.errors.any?
  #error_explanation
    %h2
      = pluralize(@management.errors.count, "error")
      prohibited
      this management from being saved:
    %ul
      - @management.errors.full_messages.each do |msg|
        %li= msg
%p
  = form.label :name
  %br/
  = form.text_field :name

%p
  %h3 Recursos
  %table
    = form.collection_check_boxes :resources, AuthM::Resource.list, :first, :last do |b|
      .collection-check-box
        - if @management.has_the_resource_name? b.object.first
          = b.check_box({checked: true})
        - else
          = b.check_box
        = b.label