%h1 Listing managements
%table
  %tr
    %th name
  - @managements.each do |management|
    %tr
      %td= management.name
      -if can? :read, AuthM::Management
        %td= link_to 'Show', management_path(management)
      -if can? :write, AuthM::Management
        %td= link_to 'Edit', edit_management_path(management)
        %td= link_to 'Destroy', management_path(management), method: :delete, data: { confirm: 'Are you sure?' } 

= will_paginate @managements

-if can? :write, AuthM::Management
  = link_to 'New management', new_management_path
