<p>
  <strong>Name:</strong>
  <%= @management.name %>
</p>
<p>
  <h3>Resources</h3>
  <table>
    <% @management.resources.each do |resource| %>
      <tr>
        <td>
          <%= resource.name %>
          <strong> <%= "--> Default - #{resource.access}" if resource.default %> </strong>
        </td>
      </tr>
    <% end %>
  </table>
</p>
<% if can? :write, AuthM::Management %>
  <%= link_to 'Edit', edit_management_path(@management) %>
  <%= link_to 'Destroy', management_path(@management), method: :delete, data: { confirm: 'Are you sure?' } unless @management.id == 0  %>
<% end %>
